
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 97%;
    margin: auto;
}

 #top{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
 }
 .h2{
    height: fit-content;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .para{
    text-align: center;
    width: 28%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .result{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
 }
 #grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    gap: 10px;
 }
 .men{
    position: relative;

 }
 .men img:hover{
   width: 102%;
 }

 .men img{
    width: 100%;
    height: fit-content;
    display: block;
 }
 .mens img{
   width: 100%;
    height: 385px;
    display: block;
 }
 .mens img:hover{
   width: 102%;
 }
 @media all and (min-width:100px) and (max-width:1500px){
   #grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-auto-rows: auto;
      gap: 10px;
      margin: auto;
   }
   .mens img{
      width: 100%;
      height: 100%;
      display: block;
    }
 }
 #product button{
  margin-left: 120px;
  background-color: rgb(87, 86, 86);
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  color: white;
  font-weight: bold;

}
#product button:hover{
  cursor: pointer;
  background-color: rgb(168, 165, 165);
}
 #product{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-auto-rows:auto;
   gap: 8px;
   margin-bottom: 30px;
 }
 #product img{
   width: 100%;

 }
 #product>div{
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   padding-bottom: 20px;
 }
 @media all and (min-width:200px) and (max-width:600px){
   #product{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-auto-rows:auto;
      gap: 8px;
    }
    #product img{
      width: 100%;
   
    }
    #product div{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }
    .para{
      text-align: center;
      width: 90%;
      margin: auto;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
 }
 @media all and (min-width:601px) and (max-width:1200px){
   #product{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-auto-rows:auto;
      gap: 8px;
    }
    #product img{
      width: 100%;
   
    }
    #product>div{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .para{
      text-align: center;
      width: 50%;
      margin: auto;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
 }

 .hr>p{
  text-align: center;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
"Lucida Sans", Arial, sans-serif;
margin-top: 10px;
}
#flex{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 25px;
}
#flex a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
footer {
  font-family: 'Styrene', Helvetica, Arial, sans-serif;
}
#footdiv{
  display: flex;
 
  border:1px dotted red;
}
/* @media all and (min-width:200px) and (max-width:600px){
  #footdiv{
    width: 100%;
    height: fit-content;
  }
}

@media all and (min-width:200px) and (max-width:600px){
  #footdiv{
    width: 100%;
    height: fit-content;
  }
} */


#footdiv>div {
  width: 30%;
  margin: 30px 50px 20px;
  padding: 20px;
  font-size: 15px;

}

.foottext:hover {
  color: gray;
}

footer pre {
  font-size: 18px;
}

#footdiv>div>p:hover,
h3:hover {

  color: gray;
}

.foottext {
  margin: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 15px;
}

.us_language_ship p {
  color: gray;
  font-size: 17px;

}

.us_language_ship p:hover {
  color: rgb(51, 47, 47);

}

.us_language_ship {
  margin-bottom: 35px;
}

.footsummary {
  font-size: 14px;
  margin: 20px;
  margin-left: 30px;
  color: rgb(59, 58, 58);
}

#footsign {
  margin-left: 10px;
  margin-bottom: 20px;
}

#footsign+p {
  color: rgb(59, 58, 58);
}

#inputfooter {
  border: none;
  margin-top: 10px;
  padding: 15px;
  width: 88%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  font-size: 20px;
}
#bottompara {
  margin: 20px 80px 10px;
  color: gray;
}

#bottompara span {
  text-decoration: underline black;

}
