body{
    margin: 0%;
    padding: 0%;
}
.heading{
 width: 30%;
 margin: auto;
 text-align: center;
}
.cardigantag{
    text-align: center;
    margin: 30px;
}
.product_div{
    display: flex;
}

.product_card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 3Px;
    text-align: center;
}
.product_card img{
    width: 100%;
}

.skirtspro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 3Px;
    text-align: center;
}
.skirtspro img{
    width: 100%;
}
#button1{
    width: 250px;
    height: 40px;
   background-color: white;
}
#btndiv{
    text-align: center;
    width: 10%;
    margin: auto;
   margin-right: 650px;
    padding: 30px;
    padding-bottom: 100px;
   
   
}
#button1:hover{
    background-color: black;
    color: white;
}

.shirtpro{
    display: flex;
    justify-content: space-evenly;
}

.shirtdata{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 1Px;
    text-align: center;
    width: 100%;
}
.shirtdata img{
    width: 100%;
}
.shirtimg-img{
    width: 490px;
    height: 953px;
}
.shirtpro{
    margin-top: 70px;
}
 .bags{
    text-align: center;
    margin-bottom: -30px;
 }
 .bagres{
    text-align: center;
    margin-top: 50px;
 }
.bagsdata{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 1Px;
    text-align: center;
    width: 100%;
}
.bagsdata img{
    width: 100%;
}
.rendom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    text-align: center;
    margin: 60px;
}
.rendom img{
    width: 100%;
}
.rendom button{
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}
.lasttag{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.lastprat{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
 padding: 20px;
}
.lastprat a{
    text-decoration: none;
    padding: 5px;
    color: black;
}
.lastprat a:hover{
    color:#5c5959;
}
.result{
    text-align: center;
}


@media all and (min-width:400px) and (max-width:600px){
    .product_card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
        .skirtspro{
            display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;

        }
        .bagsdata{
            display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;

        }
        .rendom{
            display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        }
        .shirtdata{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            width:100%;
        }
        .shirtpro{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            width: 100%;

        }
        .shirtimg{
            width: 100%;
  
        }
       
        #btndiv{
           
            width: 100%;
           
           
           
        }
        #screenshirt img{
            width: 100%;
        }
}
@media all and (min-width:601px) and (max-width:800px){
    .product_card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
        .skirtspro{
            display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;

        }
        .bagsdata{
            display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;

        }
        .rendom{
            display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        }
        .shirtdata{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width:100%;
        }
        .shirtpro{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            width: 100%;

        }
        .shirtimg{
            width: 100%;
  
        }
       
        #btndiv{
           
            width: 100%;
           
           
           
        }
        #screenshirt img{
            width: 100%;
        }
}
